{% extends 'app.twig' %}
{% block title %}
    <title>Matcher: Results</title>
{% endblock %}

{% block content %}

<div class="content-container">
    <main>
        <header>
            <h1>Results</h1>
            <p>You matched with {{ matchedCompanyCount }} compan{{ matchedCompanyCount == 1 ? 'y' : 'ies' }}</p>
        </header>

        <section class="matches">
            {% for company in matchedCompanies %}
                <article class="match">
                    <h2>{{ company.name }}</h2>
                    <p>{{ company.description }}</p>
                    <a href="#" class="matches__match__more">More</a>

                    <div class="match__details" style="display:none">
                        <p><strong>Email:</strong> <a href="mailto:{{ company.email }}">{{ company.email }}</a></p>
                        <p><strong>Phone:</strong> <a href="tel:{{ company.phone }}">{{ company.phone }}</a></p>
                        <p><strong>Website:</strong> <a href="{{ company.website }}" target="_blank" rel="noopener">{{ company.website }}</a></p>
                    </div>
                </article>
            {% endfor %}
        </section>
    </main>
</div>
{% endblock %}